<%- include('header') %>
<section>
    <div class="content">
        <ul>
            <% for(var i=0;i<arr.length;i++){ %>
                <li>
                    <div class="content-top">
                        <h2><a href="/cont/<%= arr[i]._id %>"><%= arr[i].title %></a></h2>
                        <p>By <a href="javascript:;" class="name">admin</a> on <a href="/search/date=<%= arr[i].date %>" class="date"><%= arr[i].date %></a></p>
                    </div>
                    <div class="content-botoom">
                        <a href="/cont/<%= arr[i]._id %>" class="pic"><img src="<%= arr[i].pic %>" alt=""></a>
                        <div class="intro">
                            <p class="info"><a href="/cont/<%= arr[i]._id %>"><i class="iconfont">&#xe675;</i><%= arr[i].title %></a></p>
                            <p class="stats-read">
                                <span>10<i class="iconfont">&#xe677;</i></span>
                                <span>10<i class="iconfont">&#xe6ad;</i></span>
                                <span>10<i class="iconfont">&#xe65e;</i></span>
                            </p>
                            <nav>
                                <% for(var j=0;j<arr.length;j++){ %>
                                    <a href="/cont/<%= arr[j]._id %>">
                                        <img src="<%= arr[j].pic %>" alt="">
                                        <p><%= arr[j].title %></p>
                                    </a>
                                <% } %>
                            </nav>
                            <div class="tags">
                                <p>Tags
                                    <a href="/search/<%= arr[i].tag %>" ><%= arr[i].tag %></a>
                                </p>

                            </div>
                        </div>
                    </div>
                </li>
            <% } %>

        </ul>
    </div>
    <footer>
        <p>Copyright © 申力博|转载本站内容请署名</p>
    </footer>
</section>
<%- include('footer') %>
