<%- include('header') %>

<section>
    <div class="l-top">
        <p>"<b><%=data.title%></b>"搜索结果</p>
    </div>
    <div class="l-content">
        <ul>
            <% for(var i=0;i<arr.length;i++){ %>
                <li>
                    <div>
                        <a href="/cont/<%= arr[i]._id %>" class="h-n-a"><img src="<%= arr[i].pic %>" alt=""></a>
                        <h2><a href="/cont/<%= arr[i]._id %>"><%= arr[i].title %></a></h2>
                        <p class="stats-read">
                            <b>Tag: <a href="/search/<%= arr[i].tag %>" ><%= arr[i].tag %></a></b>
                            <span>10<i class="iconfont">&#xe677;</i></span>
                            <span>10<i class="iconfont">&#xe6ad;</i></span>
                            <span>10<i class="iconfont">&#xe65e;</i></span>
                        </p>
                    </div>
                </li>
            <% } %>
        </ul>
    </div>
    <footer>
        <p>Copyright © 申力博|转载本站内容请署名</p>
    </footer>
</section>

<%- include('footer') %>
